<!DOCTYPE html>
<html>
<head>
	<script src="vue.js"></script>
</head>
<body>
	<div id="app">
		<p>{{ title }}</p>
	</div>

	<script>
		new Vue({
			el: '#app',
			data:{
				title: 'Hello World!'
			}
		});
	</script>
</body>
</html>